<p style="color: green"><%= notice %></p>

<h2 class="title is-2">Users</h2>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
