<section class="hero is-fullheight">       
  <div class="hero-body has text-centered">  
    <div class="container">
      <h2 class="is-flex  is-justify-content-center title is-2">Budget App</h2>
        <p><%= link_to 'Sign in', new_user_session_path, class: "button is-primary is-fullwidth mb-2" %></p>
        <p><%= link_to 'Register', new_user_registration_path, class: "button is-info is-fullwidth" %> </p>
    </div>
  </div>
</section>
  